.Header {
  min-height: 150%;
}
.headMain {
  margin: auto 10vw;
  padding-bottom: 10%;
  background: url("./assets/images/www.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.headline {
  /* font-family: inter, sans-serif; */
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 56px;
  color: #04a3e2;
}

.headbox {
  width: 40vw;
}
.picbox {
  position: relative;
  z-index: -1;
}
.headImage {
  width: 100%;
}
.subheading {
  font-size: 20px;

  color: #4d4b4b;
}
